.burger {
  display: none;
}

@media (max-width: 1198.99px) {
  .burger {
    display: block;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 766.99px) {
  .burger {
    width: 24px;
    height: 24px;
  }
}
