.burger {
  display: none;
}

@media (max-width: 1198.99px) {
  .burger {
    max-width: 502px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 766.99px) {
  .burger {
    width: 100%;
  }
}
