.container {
  position: absolute;
  top: 30px;
  width: 100%;
  max-width: 1100px;
  padding: 24px 32px 24px 80px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #363636;
  background: #feebea;
  background-image: url(../../assets/error.png);
  background-repeat: no-repeat;
  background-position: 24px 19px;
  border: 1.5px solid #f42c4f;
  border-radius: 5px;
  z-index: 14;
}

.cross {
  width: 16px;
  height: 16px;
}

.cross > img {
  max-width: 16px;
}

@media (max-width: 1198.99px) {
  .container {
    width: calc(100% - 130px);
    top: 66px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 766.99px) {
  .container {
    padding: 12px 16px 12px 62px;
    width: calc(100% - 32px);
  }
}
