.container {
  text-align: center;
}

.text {
  padding-top: 256px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #a7a7a7;
}

@media (max-width: 766.99px) {
  .text {
    font-size: 18px;
    line-height: 28px;
  }
}
