.header,
.container {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 46px;
  justify-content: space-between;
}

.title {
  margin-left: 120px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

.burger {
  display: none;
  border: none;
  background: inherit;
}

@media (max-width: 1198.99px) {
  .header {
    margin-bottom: 32px;
  }

  .logo {
    display: none;
  }

  .burger {
    display: block;
    height: 32px;
    width: 32px;
  }

  .title {
    margin-left: 24px;
  }
}

@media (max-width: 766.99px) {
  .header {
    margin-bottom: 24px;
  }

  .burger {
    height: 24px;
    width: 24px;
  }

  .title {
    font-size: 18px;
    line-height: 1.56;
  }
}
