.container {
    position: absolute;
    top: 0;
    bottom: -150px;
    right: 0;
    left: 0;
    background-image: url(./assets/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px);
}
